@charset "UTF-8";
/*
At the Top of the Hierrarchy are the @Globals, 
the highest king of highest importance.
*/
/* Reset */
/* Box sizing rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove default padding */
ul, ol {
  padding: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Remove default hyperlink styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Additional resets for specific elements if needed */
/* Example: Resetting form elements */
input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

/* Resetting images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Resetting tables */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 
Navigation Links active and hover color:
Both active and hover states use the same color variable.
The hover state links to the active color variable with reduced opacity (0.5) 
for decreased vibrancy and contrast.
This ensures that changing the active color also updates the hover color.
*/
html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p {
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

/*
Bellow is the @forward to .scss index file 
that contains all the individual website 
layout components with their associated styles.
Each component has its own .scss style within a file
associated with the component that is being forwarded to the index.scss
in the components folder.
This way things are more organized and better controlled.
*/
/*
Start of the Header Component - Can be 
turned on/off with display property set to :none & :block
The possibilities are endless
*/
.Bar {
  border-top: 10px solid #FFCB01;
  height: 80px;
  width: 100%;
  background-color: #000000;
  background-image: url("../src/svg/pattern.svg");
}

#Header--Component {
  display: block;
}

.Header {
  background-color: #000000;
  padding: 60px 100px;
  /* ↓ Burger Menu Icon ↓ */
  /* ↑ Burger Menu Icon ↑ */
}
.Header__Logo {
  transition: 0.3s ease-in-out;
  fill: #FFCB01;
  max-width: 200px;
  min-width: 100px;
}
.Header__Logo:hover {
  fill: #ffdb4e;
  transition: 0.3s ease-in-out;
}
.Header__Active {
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: solid #ff0101 2px;
}
.Header__nav a {
  letter-spacing: 0.1em;
  transition: text-shadow 0.3s;
}
.Header__ul a:hover {
  padding-bottom: 5px;
  border-bottom: solid rgba(255, 1, 1, 0.5) 2px;
  text-shadow: 0 0 0.65px #ffffff, 0 0 0.65px #ffffff;
}
.Header__Navigation {
  border-top: solid 1px rgb(36, 36, 36);
  border-bottom: solid 1px rgb(36, 36, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.Header ul {
  display: flex;
}
.Header ul a {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}
.Header li {
  border-right: 1px solid rgb(70, 70, 70);
  padding: 0 1rem;
}
.Header li:last-of-type {
  border-right: none;
}
.Header__Reservation {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #2D2D2D;
  color: white;
  text-transform: uppercase;
}
.Header__Reservation img {
  padding-right: 0.8rem;
  scale: 1.3;
}
.Header__Languages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}
.Header__Languages a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFCB01;
  border-radius: 0.3rem;
}
.Header__Burger {
  display: none;
}
.Header__Burger img {
  scale: 1;
  width: 50px;
  height: 50px;
  cursor: pointer;
  filter: invert(1) grayscale(100%);
}

/* 
! Bellow is the setup 
! for the Javascript
! to toggle the display css property.
*/
/* This is the Exit icon Button SVG ↑ */
.Burger--Menu {
  display: none;
  inset: 0;
  position: fixed;
  background-color: #181818;
  z-index: 999;
}
.Burger--Menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 2rem;
}
.Burger--Menu nav li {
  border-right: none;
  padding: 0;
}
.Burger--Menu a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  font-weight: 600;
}

/* This is the Exit icon Button SVG ↓ */
.Burger__Exit {
  cursor: pointer;
  fill: white;
}

.BurgerShowUp {
  display: block;
}

@media screen and (max-width: 1340px) {
  .Header__Burger {
    display: block;
  }
  .Header__Navigation nav {
    display: none;
  }
}
/*
! CAROUSEL STYLING BELLOW ↓
*/
.carousel {
  height: 450px;
  min-width: 350px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  /* Sliders Uniformity*/
  /* Slider Pages */
}
.carousel .slider__heading h1, .carousel p, .carousel span {
  color: white;
}
.carousel .sliderContent {
  padding: 5rem 10rem;
}
.carousel .slides {
  position: inherit;
  height: 100%;
  background-color: #FFC701;
  margin-inline: auto;
  width: calc(100% - 200px);
}
.carousel .slider {
  width: 100%;
  height: 100%;
  position: absolute;
}
.carousel .slides .s1 {
  background-image: url("../src/images/20.webp");
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.carousel .s2 {
  background-color: rgb(138, 43, 255);
}
.carousel .s3 {
  background-color: rgb(255, 35, 108);
}
.carousel .s4 {
  background-color: rgb(255, 244, 33);
}
.carousel .s5 {
  background-color: rgb(216, 0, 195);
}
.carousel .iconArrow {
  fill: white;
  cursor: pointer;
  position: absolute;
  z-index: 11;
}
.carousel .left {
  top: 50%;
  left: 1rem;
}
.carousel .right {
  top: 50%;
  right: 1rem;
}

/*
! JAVASCRIPT CARAOUSEL BELLOW ↓
? This class will be added and switch between when carousel
? icons left and right buttons are pressed. Currently set to 10
? can be higher if needed.
*/
.activeSlider {
  z-index: 10;
}

#footer--component {
  background-color: rgb(148, 148, 148);
  display: block;
}

.footer {
  width: 100%;
  height: 300px;
}

.upwards--component svg {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  fill: white;
  cursor: pointer;
  background-color: black;
  border-radius: 0.3rem;
}
.upwards--component svg svg:hover {
  fill: #FFCB01;
}

.image--gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image--gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#about--container {
  padding: 2rem 0;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin-inline: 100px;
}
.about__copywright {
  max-width: 250px;
}
.about__copywright p {
  padding-top: 0.3rem;
}
.about__divider {
  width: 0.1rem;
  height: 180px;
  background-color: grey;
}
.about .vaz {
  font-weight: 400;
}

.one {
  font-size: 2.985984rem;
}

.two {
  font-size: 2.48832rem;
}

.three {
  font-size: 2.0736rem;
}

.four {
  font-size: 1.728rem;
}

.five {
  font-size: 1.44rem;
}

.six {
  font-size: 0.8333333333rem;
}/*# sourceMappingURL=style.css.map */