@use 'globals/index' as glob;

html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color: glob.$secondaryColor;
}

.Bg--Bar{
    border-top: 10px solid glob.$primaryColor;
    height: 80px;
    width: 100%;
    background-color: glob.$secondaryColor;
    background-image: url('../src/svg/pattern.svg');
}

header{
    background-color: glob.$secondaryColor;
    padding: 60px 100px;

    .Header__Logo {
        transition: .3s;
      }

    .Header__Logo:hover {
        filter: brightness(115%); /* Brigthtness of Logo*/
        transition: filter .3s;
      }

    .active{
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: solid red 2px;
    }

    nav a{
        letter-spacing: .1em;
    }

    ul a{
        transition: text-shadow .3s;
    }

    ul a:hover{
        padding-bottom: 5px;
        border-bottom: solid rgb(61, 0, 0) 2px;
        text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
    }

    .Navigation--Container{
         border-top: solid 1px rgb(36, 36, 36);
         border-bottom: solid 1px rgb(36, 36, 36);
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 1rem 0;
    }

    .Navigation--Container nav{
        transition: .3s ease-in-out;
    }

    .Header__Logo{
        max-width: 200px;
        min-width: 100px;
    }

    ul{
        display: flex;
    }

    ul a{
        color: white;
        text-transform: uppercase;
        font-weight: 100;
    }

    li{
        border-right: 1px solid rgb(70, 70, 70);
        padding: 0 1rem;
    }

    li:last-of-type {
        border-right: none;
    }

    .Reservation--Button{
        display: flex;
        flex-direction: row;
        background-color: glob.$secondaryColor;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #2D2D2D;
        color: white;
        text-transform: uppercase;
    }

    .Reservation--Button img{
        padding-right: 0.8rem;
        scale: 1.3;
    }
}

.Languages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: yellow;
        border-radius: 0.3rem;
        // align-self: center;
    }
}

footer{
    height: 300px;
    background-color: green;
}


/* 
! Bellow is the setup 
! for the Javascript
! to toggle the display css property.
*/

/* This is the Exit icon Button SVG ↓ */

.Burger--Icon-Exit{
    cursor: pointer;
    fill: white;

}

/* This is the Exit icon Button SVG ↑ */

.Burger--Menu{
    display: none; 
    inset: 0;
    position: fixed;
    background-color: #181818;
    z-index: 999;

    ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 2rem;
    }

    nav li{
        border-right: none;
        padding: 0;
    }

    a{
        font-family: 'Roboto',Arial, Helvetica, sans-serif;
        color: rgb(223, 223, 223);
        text-transform: uppercase;
        font-weight: 600;
    }
}

.BurgerShowUp{
    display: block; 
}

/* ↓ Burger Menu Icon ↓ */

.Burger--Icon{
    display: none;

    img{
        scale: 1.0;
        width: 50px;
        height: 50px;
        cursor: pointer;
        filter: invert(1) grayscale(100%);
    }
}

/* ↑ Burger Menu Icon ↑ */


@media screen and (max-width: 1340px) {
    .Burger--Icon{
        display: block;
    }

    .Navigation--Container nav{
        display: none;
    }
}

/*
! CAROUSEL STYLING BELLOW ↓
*/

.carousel{ 
    height: 450px;
    min-width: 350px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    /* Sliders Uniformity*/

    .slides{
        position: inherit;
        height: 100%;
        background-color: #FFC701;
        margin-inline: auto;
        width: calc(100% - 200px); // God praise the calc ♥
     }

    .slider{
        width: 100%;
        height: 100%;
        position: absolute;   
    }
    
    /* Slider Pages */
    .s1{
        background-color: rgb(0, 145, 255);
    }

    .s2{  
        background-color: rgb(138, 43, 255);
    }

    .s3{
        background-color: rgb(255, 35, 108);
    }

    .s4{
        background-color: rgb(255, 244, 33);
    }

    .s5{
        background-color: rgb(216, 0, 195);
        
    }

    .iconArrow{
        fill: white;
        cursor: pointer;
        position: absolute;
        z-index: 11;
    }

    .left{
        top: 50%;
        left: 1rem;
    }
    
    .right{
        top: 50%;
        right: 1rem;
    }
}

/*
! JAVASCRIPT CARAOUSEL BELLOW ↓
? This class will be added and switch between when carousel
? icons left and right buttons are pressed. Currently set to 10
? can be higher if needed.
*/

.activeSlider{
    z-index: 10;
}

















