@use 'partials/reset';


html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(231, 231, 231);
}

.Bg--Bar{
    border-top: 2px solid #FFC701;
    height: 80px;
    width: 100%;
    background-color: #000000;
    background-image: url('../src/svg/pattern.svg');
}

header{
    background-color: #000000;
    padding: 60px 100px;

    .Header__Logo {
        transition: .3s;
      }


    .Header__Logo:hover {
        filter: brightness(115%); /* Brigthtness of Logo*/
        transition: filter .3s;
      }

    .active{
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: solid red 2px;
    }

    a{
        letter-spacing: .1em;
    }

    ul a{
        transition: text-shadow .3s;
    }

    ul a:hover{
        padding-bottom: 5px;
        border-bottom: solid rgb(61, 0, 0) 2px;
        text-shadow: 0 0 .65px #ffffff, 0 0 .65px #ffffff;
    }

    .navigation--container{
         border-top: solid 1px rgb(36, 36, 36);
         border-bottom: solid 1px rgb(36, 36, 36);
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 1rem 0;
    }

    .Header__Logo{
        max-width: 200px;
        min-width: 100px;
    }

    ul{
        display: flex;
    }

    ul a{
        color: white;
        text-transform: uppercase;
        font-weight: 100;
    }

    li{
        border-right: 1px solid rgb(70, 70, 70);
        padding: 0 1rem;
    }

    li:last-of-type {
        border-right: none;
    }

    .Reservation__Button{
        display: flex;
        flex-direction: row;
        background-color: #111111;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #2D2D2D;
        color: white;
        text-transform: uppercase;
    }

    .Reservation__Button img{
        padding-right: 0.8rem;
        scale: 1.3;
    }


}

.languages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
}

.languages a{
    width: 2rem;
    height: 2rem;
    background-color: #FFC701;
    border-radius: 0.3rem;
}

footer{
    height: 300px;
    background-color: green;
}