@use 'reset';
@use 'partials/head.scss';

html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color: orange;
}

div{
    padding: 0 20%;
}

footer{
    height: 300px;
    background-color: green;
}