
.about--component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 57, 57);
    padding: 0 100px;

    &__copywright{
        max-width: 400px;
        p{
            padding-top: .3rem;
        }
    }

    &__divider{
        width: .1rem;
        height: 180px;
        background-color: grey;
    }

    .vaz{
        font-weight: 400;
    }

    &__us p{
        color: black;
    }



}